<div *ngIf="isPageLoaded">

  <div class="main">
    <ng-container *ngFor="let item of students; let i= index" >
      <div class="container" >
        <div class="flex-column">
          <label for="">{{ item.name }}</label>
          <label for="">{{ item.lastName }}</label>
          <label for="">Email: <span>{{ item.email }}</span></label>

          <img src="" alt="">
        </div>

        <button (click)= "editForm(i)">Editar</button>

        <button (click)= "deleteStudent(i)">Eliminar</button>

      </div>

    </ng-container>
    <br>
    <br>
    <br>



  </div>

  <form action="" [formGroup]="studentForm" class="flex-row">
    <div class="flex-column ">
      <div class="flex-column mb-1">
          <label for="">Nombre:</label>
          <input type="text" formControlName="name">
      </div>

      <div class="flex-column mb-1">
        <label for="">Apellidos:</label>
        <input type="text" formControlName="lastName">
      </div>

      <div class="flex-column mb-1">
        <label for="">Email:</label>
        <input type="text" formControlName="email">
      </div>

      <button (click)="addStudent()" *ngIf="!studenSelect">Añadir estudiante</button>

      <button (click)="editStudent()" *ngIf="studenSelect">Editar estudiante</button>

    </div>
  </form>

</div>


